@media (prefers-color-scheme: light) {
  body {
    --text-color: #222;
    --bkg-color: #fff;
    --lnk-color: #0033cc;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #121212;
    --lnk-color: #809fff;
    --secondary-fore-color: #909090;
    --card-back-color: var(--bkg-color);
    --card-fore-color: var(--card-fore-color);
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

body {
  --qr-bg-color: #fff;
  color: var(--text-color);
  background-color: var(--bkg-color);
  padding: 15px 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23b0d1b0' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body .card {
  background: none;
}
a {
  color: var(--lnk-color);
}

h1 {
  text-align: center;
}
div.qr-code-wrapper {
  width: 100vw;
  text-align: center;
}
div.qr-code {
  background: var(--qr-bg-color);
  padding: 1px;
  width: 90vw;
  margin: 0 auto;
}

div.personal-details {
  padding: 0px 5px;
  font-size: small;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
div.personal-details :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
div.personal-details :nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}
div.personal-details :nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 4;
}
div.personal-details :nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 5;
}
div.personal-details span.title {
  font-size: xx-small;
}
div.personal-details h2 {
  padding: 1px 0 5px;
  margin: 0px;
}

div.immunization.container div.row > :nth-child(3) {
  text-align: right;
}

div.immunization.container div.row > div {
  border-bottom: 1px solid var(--secondary-fore-color);
  padding: 3px 0;
}
/* ref: https://codepen.io/chris22smith/pen/kDtiE */
div.personal-details.verified:after,
div.personal-details.rejected:after {
  --action-color: #046a38;
  position: absolute;
  top: 27px;
  left: 10px;
  z-index: 1;
  transform: rotate(-31deg);
  color: var(--action-color);
  padding: 5px 15px;
  zoom: 2.5;
  border: solid 2px var(--action-color);
  opacity: 0.3;
  border-radius: 5px;
  text-shadow: 0 0 2px var(--action-color);
  box-shadow: 0 0 2px var(--action-color);
  filter: alpha(opacity=20);
}

div.personal-details.verified:after {
  --action-color: #046a38;
  content: "VERIFIED";
}
div.personal-details.rejected:after {
  --action-color: #c00;
  content: "REJECTED";
}

personal-details:empty {
  width: 100vw;
  height: 130px;
  display: block;
}
personal-details:empty::after {
  /* background images */
  --small-line-image: linear-gradient(white 5px, transparent 0);
  --large-line-image: linear-gradient(white 15px, transparent 0);
  --skelton-bg-image: linear-gradient(lightgrey 130px, transparent 0);
  /* size */
  --size-small-line: 100px 4px;
  --size-large-line: 150px 15px;
  /* position */
  --position-r1c1-label: 20px 20px;
  --position-r1c1-value: 20px 35px;
  --position-r1c2-label: 190px 20px;
  --position-r1c2-value: 190px 35px;
  --position-r2c1-label: 20px 80px;
  --position-r2c1-value: 20px 95px;
  --position-r2c2-label: 190px 80px;
  --position-r2c2-value: 190px 95px;

  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: linear-gradient(
      90deg,
      rgba(211, 211, 211, 0),
      rgba(211, 211, 211, 0.8) 50%,
      rgba(211, 211, 211, 0)
    ),
    var(--small-line-image), var(--large-line-image), var(--small-line-image),
    var(--large-line-image), var(--small-line-image), var(--large-line-image),
    var(--small-line-image), var(--large-line-image), var(--skelton-bg-image);
  background-repeat: no-repeat;
  background-position: -150px 0, var(--position-r1c1-label),
    var(--position-r1c1-value), var(--position-r1c2-label),
    var(--position-r1c2-value), var(--position-r2c1-label),
    var(--position-r2c1-value), var(--position-r2c2-label),
    var(--position-r2c2-value), 0 0;
  background-size: 40% 100%, var(--size-small-line), var(--size-large-line),
    var(--size-small-line), var(--size-large-line), var(--size-small-line),
    var(--size-large-line), var(--size-small-line), var(--size-large-line),
    100% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 350px 0, var(--position-r1c1-label),
      var(--position-r1c1-value), var(--position-r1c2-label),
      var(--position-r1c2-value), var(--position-r2c1-label),
      var(--position-r2c1-value), var(--position-r2c2-label),
      var(--position-r2c2-value), 0 0;
  }
}
#cardTitle:empty {
  width: 60%;
  height: 40px;
  background-image: linear-gradient(lightgrey 40px, transparent 0);
  margin: auto;
}

healthcard-qr:empty,
healthcard-qr:empty::before,
healthcard-qr:empty::after {
  background: var(--text-color);
  animation: loadQRcode 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  display: block;
}
healthcard-qr:empty {
  color: var(--text-color);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
healthcard-qr:empty::before,
healthcard-qr:empty::after {
  position: absolute;
  top: 0;
  content: "";
}
healthcard-qr:empty::before {
  left: -1.5em;
  animation-delay: -0.32s;
}
healthcard-qr:empty::after {
  left: 1.5em;
}

@keyframes loadQRcode {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
